<!-- Author Structured Data -->
<script type="application/ld+json">
{
    "@context": "https://schema.org",
    "@type": "BlogPosting",
    "headline": "{{ article.title }}",
    "author": {
        "@type": "Person",
        "name": "{{ AUTHOR }}",
        "url": "{{ SITEURL }}/about/",  // Adjust URL as needed
        "sameAs": [  // Add social media links
            "https://twitter.com/{{TWITTER_USERNAME}}",
            "https://www.linkedin.com/in/{{LINKEDIN_USERNAME}}",
            "https://www.facebook.com/{{FACEBOOK_USERNAME}}"
        ]
    },
    "datePublished": "{{ article.date.isoformat() }}",
    "image": "{% if article.metadata.featured_image %}{{ article.featured_image }}{% else %}{{ SITE_LOGO_URL }}{% endif %}",  // If you have a featured image
    "description": "{{ article.summary | striptags }}"
}
</script>
